Crontab de linuxfr :

SHELL=/bin/bash

# Maintenance une fois par jour : votes, karmas, tribunes, sitemap, etc.
1 0 * * *          bundle exec rake -s linuxfr:daily


Crontab de root :

SHELL=/bin/bash
SCRIPTS_DIR=/etc/linuxfr

# traitement des logs et sauvegarde journalière
15 3     * * *     cd ${SCRIPTS_DIR} && ./backup-linuxfr-daily.sh

# sauvegarde hebdo
15 5     * * 0     cd ${SCRIPTS_DIR} && ./backup-linuxfr-weekly.sh

# courbes RRD surveillance serveur
0-59/1 * * * *     cd ${SCRIPTS_DIR} && ./rrd/makestats.sh &>/dev/null
