Crontab de linuxfr :

SHELL=/bin/bash

# Maintenance une fois par jour : votes, karmas, tribunes, sitemap, etc.
0 1 * * *   source ruby-env && cd $RAILS_ENV/current && bundle exec rake -s linuxfr:daily

(le reste des crontabs est géré par Ansible)
