DATABASE=linuxfr
CONTAINER="xxxx"
USERNAME="xxxx"

LINUXFR_DIR="/data/${CONTAINER}"
GRAPHS_DIR="${LINUXFR_DIR}/${USERNAME}/load"
WEBLOGS_DIR="${LINUXFR_DIR}/logs"
SCRIPTS_DIR="${LINUXFR_DIR}/${USERNAME}/admin/scripts"
BACKUP_DIR="${LINUXFR_DIR}/backup"

WEB_DOMAINNAME="${CONTAINER}.linuxfr.org"
WEBALIZER_CONF="/etc/linuxfr/webalizer.conf"
WEBALIZER_INPUT="${WEBLOGS_DIR}/${USERNAME}"
WEBALIZER_OUTPUT="${WEBLOGS_DIR}/webalizer"
